<html>

<head>
  <title>Bumpify</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
</head>
<style>
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>
<body>
  <div class="wrapper" align="center">
    <div class="header">
      <div class="container jumbotron">
        <!-- width 445, height 312 -->
        <img src="imgs/white logo v2.png" width="667" height="469" class="center" />
        <form action="/" method="post" class="center">

          {{ form.csrf_token }}
          <div>
            {{ form.prime(size=32, placeholder="Prime") }}

            <p>{{ form.submit() }}</p>
          </div>
        </form>

        {% if form.song.data != "" %}
        <textarea style="width:80%;height:80%">{{ form.song.data }}</textarea>
        {% else %}
        <textarea></textarea>
        {% endif %}
        <br>
        <a class="center" id="git" href="https://github.com/Unix-Code/Billboard-Lyric-Generator">Source Code</a>

      </div>
    </div>
  </div>
</body>
</html>
