<html>

<head>
  <title>Bumpify</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
  .centerImage {
    text-align: center;
    display: block;
  }
</style>

<body>
  <div class="wrapper" align="center">
    <div class="header">
      <div class="container jumbotron">
        <!-- width 445, height 312 -->
        <img src="imgs/white logo v2.png" width="667" height="469" class="centerImage" style="background-position: center center" />
        <br>
        <form action="/" method="post" style="margin-top:75px;margin-bottom:30px">

          {{ form.csrf_token }}
          <div>

            <p>{{ form.submit(style="width: 65%;height:10%;font-size:50px;text-align:center") }}</p>
          </div>
        </form>

        <div id="loading"><img src="imgs/spinner.svg" style="margin-bottom:30px"></img><br></div>

        {% if form.song.data != "" %}
        <textarea style="width:50%;height:70%;text-align:center">{{ form.song.data }}</textarea>
        {% endif %}
        <br>
        <a id="git" href="https://github.com/Unix-Code/Billboard-Lyric-Generator">Source Code</a>

      </div>
    </div>
  </div>
  <script>
    $('#loading').hide();
    $("#submit").click(function(e) {
      $('#loading').show();
    });
  </script>
</body>

</html>
