  <html>
<head>
  <title>Bumpify</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>
<body>
<div class="wrapper">
  <div class="header">
    <div class="container jumbotron">
      <h1>Bumpify</h1>
      <h3>Make a Banger</h3>

      <form action="/" method="post">

        {{ form.csrf_token }}
          <div>
              {{ form.prime(size=32, placeholder="Prime") }}

          <p>{{ form.submit() }}</p>
        </div>
      </form>

      <input id="song" value="{{ song }}" />
      <br>
      <a id="git" href="https://github.com/Unix-Code/Billboard-Lyric-Generator">Source Code</a>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
